{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script>
        setInterval(function(){
            $.ajax({
                type: "POST",
                url: '{% url "live_tracking" %}',
                data: {
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: "post"
                },
                success: function(json){
                    map_code = ($.parseHTML(json['map']))[0];
                    console.log(map_code);
                    // if(document.querySelector('span')) document.querySelector('span').remove();
                    // if(map_code.querySelector('span')) map_code.querySelector('span').remove();
                    document.querySelector('iframe').outerHTML = map_code.querySelector('iframe').outerHTML;
                },
                error: function(xhr, errmsg, err){}
            })
        }, 3000);
    </script>
    {{ map | safe }}
{% endblock %}
