.wrapper{
    height: 100vh;
}

.block-1{
    background-size: cover;
}

input{
    border : solid 1px gray;
    border-radius: 10px;
    height: 55px !important;
    width: 500px !important;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
    font-weight: light;
}


.submit{
    border-style: none;
    border-radius: 5px;
    width: 200px;
}
